<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="css/signup.css">
  <title>Create Account</title>
</head>

<body>
  <section class="h-100">
    <div class="container py-3 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col">
          <div class="card card-registration mt-4 pt-3 px-5">
            <div class="row g-0">
              <div class="col-xl-6 d-none d-xl-block">
                <img src="images/signup.png" alt="Sample photo" class="img-fluid"
                  style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem; height:500px" />
              </div>
              <div id="notification" class="hidden">
                <div id="notification-message"></div>
              </div>
              <div class="col-xl-6">
                <div class="card-body p-md-3 text-black">
                  <h1 class="mb-4 text-uppercase">Create an Account</h1>


                  <form action="/" method="post" onsubmit=" return validateForm()">
                    <div class="row">
                      
                      <b><marquee id="marquee" behavior="alternate" direction="left" style="color: red;"><%= message %></marquee></b>
                      <div class="col-md-12 mb-4">
                        <div class="form-outline">
                          <label class="form-label" for="name">Name</label>
                          <input type="text" id="name" name="name" class="form-control form-control-lg" />
                          <div class="error-message" id="name-error"></div>
                        </div>
                      </div>
                    </div>

                    <div class="form-outline mb-4">
                      <label class="form-label" for="email">Email ID</label>
                      <input type="email" id="email" name="email" class="form-control form-control-lg" />
                      <div class="error-message" id="email-error"></div>
                    </div>

                    <div class="form-outline mb-4">
                      <label class="form-label" for="password">Password</label>
                      <input type="password" id="password" name="password" class="form-control form-control-lg" />
                      <div class="error-message" id="password-error"></div>
                    </div>

                    <div class="form-outline mb-4">
                      <label class="form-label" for="confirmPassword">Confirm Password</label>
                      <input type="password" id="confirmPassword" name="confirmPassword"
                        class="form-control form-control-lg" />
                      <div class="error-message" id="confirmPassword-error"></div>
                    </div>


                    <div class="row d-flex align-items-end">
                      <div class="col-md-9 form-outline">
                        <label class="form-label" for="phone">Phone Number</label>
                        <input type="text" id="phone" name="phone" class="form-control form-control-lg" />
                        <div class="error-message" id="phone-error"></div>
                      </div>
                      <div class="col-md-3">
                        <a href="" id="send-otp" class="btn btn-warning" onclick="sendOTP(event)">Send OTP</a>
                        <span id="countdown-display"></span>
                      </div>
                    </div>

                    <div class="row my-4">
                      <div class="form-outline col-md-6">
                        <input type="number" class="form-control form-control-lg" id="otp" placeholder="Enter OTP">
                        <div class="error-message" id="otp-error"></div>
                      </div>
                      <div class="d-flex justify-content-end  col-md-6">
                        <input type="submit" class="btn btn-success btn-lg ms-2" value="Sign Up">
                      </div>
                    </div>



                    <p>Already have an account?<a href="/login" class="login-link">Login</a></p>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </section>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <script src="javascript/script.js"></script>

</body>

</html>